/* BookInfo.css */
.h1 {
    text-align: center;
}

.books {
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.book {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.book img {
    width: 10%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.book-details {
    margin-top: 10px;
}

.book-details h2 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.book-details p {
    margin: 5px 0;
}

.book-details button {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
.buy{
    color: white;
    background-color: #4caf50;
}
.back{
    background-color: lightblue;
    color: black;
}

.delete{
    color: white;
    background-color: red;
}
